@import "../css/reset.css";
@import "../css/bootstrap.css";
@import "../css/jquery.fancybox.css";
@import "../css/owl.carousel.css";
@import "../css/jquery.arcticmodal.css";
@import "../css/jquery-ui.css";
@import "../css/formstyler.css";
@import "../css/style_l.css";
@import "../css/flexslider.css";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}

/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size:18px;
  line-height:;
  color:#232440;
  min-width:1080px;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

hr.hr{
  border: none;
  height: 1px;
  background: #d6dae4;
  width: 100%;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}

.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.btn:hover{
  background:;
  color:#000;
}

/*======================>  GOOGLE FONTS START  <======================*/
        
  .fw_thn{font-weight: 100;}
  .fw_lt{font-weight: 300;}
  .fw_reg{font-weight: 400;}
  .fw_med{font-weight: 500;}
  .fw_ultra_bd{font-weight: 900;}
  .bold{font-weight: 700;}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after, 
.container:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/



/*---------Global overlay----------*/

.nav_overlay{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 222;
  background-color: #000;
}

/*----------------------> DATA BG <------------------*/
[data-bg="bg_header"]{
  background: url(../images/header_img_bg.png) 50% 0 no-repeat;
}

[data-bg="bg_header_horeca"]{
  background: url(../images/horeca_bg_img.png) 50% 0 no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

[data-bg="bg_certificates"]{
  background: #FFF url(../images/certificates_bg.png) 50% 0% no-repeat;
}

[data-bg="work_bg"]{
  background: #FFF url(../images/work_bg_img.png) 50% 0% no-repeat;
}

[data-bg="objects_jobs_bg"]{
  background: #FFF url(../images/objects_jobs_bg.png) 50% 0% no-repeat;
}

[data-bg="blue_img"]{
  background: #FFF url(../images/blue_img_bg.png) 50% 0% no-repeat;
}

input{
  color: #9a9da6;
}

/*======================> Breadcrumbs <======================*/

  .breadcrumbs{
    margin: 0 -9px;
  }

    .breadcrumbs_item{
      float: left;
      color: #484c50;
      font-size: 14px;
      margin-right: 4px;
      position: relative;
      padding-left: 9px;
    }

      .breadcrumbs_item:before{
        content: "/";
        position: absolute;
        left: 0;
      }
      .breadcrumbs_item:first-child:before{
        display: none;
      }

      .breadcrumbs_link{
        color: #23c3df;
        text-decoration: underline;
      }
      .breadcrumbs_link:hover{
        text-decoration: none;
      }


/*======================> Header <======================*/

header {
}
  .header_top{
    padding: 24px 0 11px;
  }
  .logo{}
    .logo a{
      display:block;
      width:185px;
      height:40px;
      background:url(../images/logo.png) 0 0 no-repeat;
      text-decoration:none;
      text-indent:-9999px;
    }

  .logo_text{
    width: 260px;
    font-size: 12px;
    color: #4b4b5a;
    line-height: 16px;
    margin: 2px 0 0 14px;
  } 

  .header_top_list{
    float: right;
    margin: 0 -10px;
  } 

    .header_top_list_item{
      float: left;
      margin: 7px 10px;
    }

    .header_top_list_link{
      font-size: 14px;
      color: #424353;
    }
      .header_top_list_link:hover{
        color: #01bada;
      }
  
  .header_bottom_wrapp{
    position: relative;
    z-index: 9991;
    background: #fff;
    box-shadow: 1px 1px 3px #cccdce, -1px -1px 3px #cccdce;
    height: 48px;
  }
    
    .menu{
      width: 263px;
      position: relative;
    }
      .menu_link{
        text-align: center;
        background: #01bada;
        color: #fff;
        padding: 13px 0 13px;
        width: 100%; 
        position: relative;
        display: block;
      }
        .menu_link:before{
          content: "";
          position: absolute;
          background: url(../images/menu_hamburger.png) 0 0 no-repeat;
          width: 10px;
          height: 10px;
          left: 54px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }

      .sub_item{
        display: none;
        width: 100%;
      }
        .navTrue .sub_item{
          display: table;
          min-height: 531px;
          position: absolute;
          z-index: 999;
        }  
        .menu_sub_left{
          width: 877px;
          left: 263px;
          top: 1px;
          background: #fff;
          position: absolute;
          min-height: 531px;
        }

        .menu_sub_left_top{
          min-height: 256px;
        }
        .menu_sub_left_bottom{
          min-height: 167px;
        }
      .menu_sub{
        z-index: 999;
        position: absolute;
        top: 0;
        background: #018299;
        text-align: left;
        padding-top: 10px;
        min-height: 531px;
        width: 100%;
      } 
        .menu_sub_item{
          
        } 
        .menu_sub_link{
          color: #fff;
          padding: 10px 15px 10px 24px;
          width: 100%;
          display: inline-block;
          font-size: 14px;
          font-weight: 300;
        }

          .menu_sub_link:hover,
          .menu_sub_item:hover .menu_sub_link{
            color: #28283b;
            background: #fff;
          }

          .menu_sub_item:hover ~ .menu_sub_item_last{
            display: none;
            z-index: 0;
          }

        .menu_sub_item_menu{
          display: none;
          text-align: left;
          z-index: 0;
          position: absolute;
          top: 1px;
          left: 263px;
          width: 877px;
          height: 530px;
          box-shadow: 1px 1px 2px #d4d6d7;
          background: #fff;
          padding: 25px 30px; 
        }
          .menu_sub_item:hover .menu_sub_item_menu{
            display: block;
            z-index: 999;
          }
    
    .menu_sub_item:last-child .menu_sub_item_menu{
      display: block;
      z-index: 999;
    }
    .search_contact_wrapp{
      width: 877px;
    }
      .menu_sub_block_categories{
        margin: 0 -31px;
      }
        .menu_sub_block_categories a{
          color: #2c3035;
        }
        .menu_sub_block_categories_item{
          width: 230px;
          float: left;
          margin: 0 31px 33px; 
        }
          .menu_sub_block_categories_item_img{
            width: 68px;
            margin-right: 15px;
            text-align: center; 
          }
          .menu_sub_block_categories_item_text{
            font-size: 14px;
            width: 147px;
            font-weight: 300;
          }
          .price{
            font-family: 'Roboto Slab', serif;
            font-size: 16px;
            font-weight: bold;
          }
        
        .menu_sub_item_list_wrapp{
          margin: 0 -50px;
        }
          .menu_sub_item_list{
            width: 200px;
            margin: 0 50px;
          }
            .menu_sub_item_list_item{
              margin-bottom: 10px;
            }
              .menu_sub_item_list_link{
                color: #34c8e1;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 300;
              }     
                .menu_sub_item_list_link:hover{
                  color: #383849;
                }   
        .menu_sub_item_leaders_sells{
          margin: 0 50px;
        }

      .search_box{
        width: 501px;
        border-right: 1px solid #dfdfdf;
      }

      .search{
        width: 469px;
        height: 48px;
        font-size: 18px;
        font-weight: 300;
        border: none;
        padding: 0 15px 0 29px;
      }

      .search_btn{
        background: url(../images/search_icon.png) 0 50% no-repeat;
        width: 24px;
        height: 48px;
        border: none;
        outline: none;
        padding: 0; 
        cursor: pointer;
      }
    
    .header_contact{
      padding: 13px 0; 
    }
      .header_contact_phone{
        margin: 0 30px; 
      }
      .header_contact_link{
        color: #01bada;
        text-decoration: underline;
        font-weight: 300;
      }  


  .header_contant_form{
    width: 587px;
    font-size: 14px;
    margin: 0 auto;
    box-shadow: 1px 1px 3px #d5d5d6, -1px -1px 3px #d5d5d6;
  }    

    .header_contant_name,
    .header_contant_phone{
      width: 195px;
      height: 36px;
      border:none;
      margin: 0;
      padding: 0 10px 0 38px;
    }
      .header_contant_name{
        background: #fff url(../images/human_icon.png) 8px 50% no-repeat;
        border-right: 1px solid #d1d1d2;
      }
      .header_contant_phone{
        background: #fff url(../images/phone_icon.png) 6px 50% no-repeat;
      }

    .header_contant_btn{
      z-index: 999;
      width: 196px;
      height: 36px;
      cursor: pointer;
      color: #ddf6fa;
      background: #01bada;
      border: none;
      outline: none;
      border: 1px solid transparent;
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
    }
      .header_contant_btn:hover{
        color: #01bada;
        border-color: #01bada;
        background: #fff;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
      }  
  
  .ventilation_block{
    position: relative;
  }
    .ventilation_block:before{
      content: "";
      position: absolute;
      background: url(../images/ventilation_strip.png) 0 0 repeat-x;
      width: calc(50% - 190px);
      height: 14px;
      bottom: 46px;
      left: 0;
      z-index: 1;
    }

    .ventilation_block_figure{
      z-index: 99;
      position: relative;
      margin-top: 6px;
    }  
      .ventilation_block_figure_text{
        border: 1px solid #01bada;
        position: absolute;
        bottom: 31px;
        left: 43px;
        z-index: 99;
        background: #fff;
      }
      .ventilation_block_figure_text a{
        position: relative;
        color: #01bada;
        display: inline-block;
        padding: 13px 20px 11px;  
        z-index: 99999;
      }
        .ventilation_block_figure_text .hover_bg{
          position: absolute;
          background: #01bada;
          top: 0;
          left: 0;
          height: 100%;
          width: 0%;
          display: inline-block;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
          .ventilation_block_figure_text:hover .hover_bg{
            width: 100%;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }
          .ventilation_block_figure_text:hover a{
            color: #fff;
          }
      .ventilation_block_figure_img{
        margin-right: 20px;
      }

    .ventilation_block:after{
      content: "";
      position: absolute;
      background: url(../images/heating_strip.png) 0 0 repeat-x;
      width: calc(50% - 190px);
      height: 14px;
      bottom: 46px;
      right: 0;
      z-index: 1;
    }

    .heating_block_figure{
      z-index: 99;
      position: relative;
    }  
      .heating_block_figure_text{
        border: 1px solid #ee302e;
        position: absolute;
        bottom: 16px;
        right: 43px;
        z-index: 99;
        background: #fff;
      }
        .heating_block_figure_text a{
          position: relative;
          z-index: 99999;
          color: #ee302e;
          padding: 13px 20px 11px; 
          display: inline-block;
        }
        .heating_block_figure_text .hover_bg{
          position: absolute;
          background: #ee302e;
          top: 0;
          right: 0;
          height: 100%;
          width: 0%;
          display: inline-block;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
          .heating_block_figure_text:hover .hover_bg{
            width: 100%;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }
        .heating_block_figure_text:hover a{
          color: #fff;
        }
      .heating_block_figure_img{
        margin-right: 20px;
      }    

/*=====================> Header heat start ========================*/
  
  .header_heat{
    display: table;
    width: 100%;
  }
    .header_heat_form{
      width: 380px;
      padding: 0 110px 0 44px;
      vertical-align: middle;
    }
      .header_heat_form .header_contant_phone,
      .header_heat_form .form_popup_name{
        font-size: 14px;
        font-weight: 300;
        width: 195px;
        height: 38px;
        padding-left: 42px;
        border: none;
        box-shadow: 2px 2px 3px #dfdfdf, -2px -2px 3px #dfdfdf;
      }
      .header_heat_form .form_popup_btn{
        width: 195px;
      }

    .header_heat_main_img{
      max-width: 750px;
      height: auto;
      text-align: right;
      vertical-align: middle;
    }  


/*=====================> Header heat end ========================*/


/*=====================> Content ========================*/
#content {padding:0px 0px 0px 0px;}

.profit_block{
  padding: 110px 20px;
}
  .profit_figure{
    width: 220px;
    margin: 0;
    padding: 0 29px;
  }
    .profit_img_block{
      height: 105px;
      text-align: center;
    }
    .profit_figcaption{
      color: #383d42;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.6;
      text-align: center;
    }

.our_work{
  padding: 50px 0 180px;
}
.our_work_item{
  position: relative;
  width: 285px;
  height: 152px;
  text-align: center;
  color: #d3f0f5;
}    
  .our_work_item_img{
    width: 100%;
  }
    .our_work_item_img img{
      width: 100%;
      height: 100%;
    }
  .our_work_item_text{
    color: #fff;
    position: absolute;
    background: rgba(1, 186, 218, .77);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
    .our_work_item:hover .our_work_item_text{
      background: rgba(1, 186, 218, 0);
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
    }
    .our_work_item_text_sub{
      position: absolute;
      top: 50%;
      text-align: center;
      left: 20px;
      right: 20px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

.number_of_us{
  margin-top: -43px;
}

.numbers_about{
  padding: 0 20px;
}
  [class^="number_about_box"]{
    width: 390px;
    text-align: center;
  }
  .number_about_box1{
    background: #FFF url(../images/numbers_bg1.png) 50% 50% no-repeat;
  }
    .big_numb{
      font-size: 60px;
      line-height: 58px;
      padding: 0 20px 0 30px;
      font-family: 'Roboto Slab', serif;
    }
    .numb_info{
      display: inline-block;
      text-align: left;
      line-height: 30px;
      font-size: 18px;
      width: 192px; 
    }
  .number_wrapp{
    
  }
    .number_wrapp{

    }
      [class^="number_td"]{
        padding: 20px 0;
      }

      .number_td1{
        background: #FFF url(../images/numbers_bg1.png) 50% 50% no-repeat;
      }
      .number_td2{
        background: #FFF url(../images/numbers_bg2.png) 50% 50% no-repeat;
      }
      .number_td3{
        background: #FFF url(../images/numbers_bg3.png) 50% 50% no-repeat;
      }
      .number_td4{
        background: #FFF url(../images/numbers_bg4.png) 50% 50% no-repeat;
      }
      .number_td5{
        background: #FFF url(../images/numbers_bg5.png) 50% 50% no-repeat;
      }
      .number_td6{
        background: #FFF url(../images/numbers_bg6.png) 50% 50% no-repeat;
      }

.certificates{
  padding: 65px 0 ;
}    
  
  .crtificates_list{
    margin: 0 -23px;
    text-align: center;
  }
    .crtificates_list_item{
      width: 91px;
      height: 122px;
      display: inline-block;
      position: relative;
      margin: 0 23px;  
      box-shadow: 4px 4px 8px #949596;   
    }
      .crtificates_list_item img{
        width: 100%;
        height: 100%;
      }
      .crtificates_list_item:before{
        content: "";
        position: absolute;
        background: url(../images/clips_img.png) 0 0 no-repeat;
        width: 67px;
        height: 53px;
        top: -53px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
      }

  .certificates_title{
    font-size: 16px;
    text-transform: uppercase;
    color: #4dcee5;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
  }    

.reviews_carousel{
  width: 990px !important;
  margin: 0 auto;
}  
  .reviews_carousel_user{
    text-align: right;
    margin-top: 40px;
  }

    .data,
    .time{
      font-size: 14px;
      color: #a9acb3;

    }

  .reviews_carousel_item_text{
    width: 855px;
    font-size: 19px;
    line-height: 30px;
    position: relative;
    font-style: italic;
    padding: 40px 53px 35px 53px; 
  }
    .reviews_carousel_item_text:before{
      content: "";
      position: absolute;
      background: url(../images/reviews_before.png) 0 0 no-repeat;
      width: 38px;
      height: 35px;
      left: 0;
      top: 0;
    }
    .reviews_carousel_item_text:after{
      content: "";
      position: absolute;
      background: url(../images/reviews_after.png) 0 0 no-repeat;
      width: 38px;
      height: 35px;
      right: 0;
      bottom: 0;
    }

  .reviews_carousel .owl-controls .owl-nav{
    display: none;
  } 
  .reviews_carousel .owl-controls{
    margin: 24px 0 36px;
    display: block;
    height: 14px;
  }
  .reviews_carousel .owl-controls .owl-dots{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
    .reviews_carousel .owl-controls .owl-dots .owl-dot{
      float: left;
      margin: 0 12px; 
      width: 14px;
      height: 14px;
      border: 1px solid #03bbda;
      display: block;
      border-radius: 100%;
    }
      .reviews_carousel .owl-controls .owl-dots .owl-dot.active{
        background: #04bbda;
      }

  .feedback{
    padding: 12px 43px; 
    display: inline-block;
    color: #01bada;
    border: 1px solid #01bada;
  }    
    .feedback:hover{
      color: #fff;
      background: #01bada;
    }

.questions{
  position: relative;
  height: 200px;
}  
  .questions:before{
    content: "";
    position: absolute;
    background: url(../images/ventilation_strip.png) 0 0 repeat-x;
    width: calc(50% - 488px);
    height: 14px;
    left: 0;
    z-index: 99;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .questions:after{
    content: "";
    position: absolute;
    background: url(../images/heating_strip.png) 0 0 repeat-x;
    width: calc(50% - 487px);
    height: 14px;
    right: 0;
    z-index: 99;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }  

  .questions_border{
    position: relative;
    width: 975px;
    margin: 0 auto;
    height: 200px;
  }
    .questions_border:before{
      content: "";
      position: absolute;
      background: url(../images/questions_border_left.png) 0 0 no-repeat;
      width: 488px;
      top: 0;
      left: 0;
      height: 200px;
    }
    .questions_border:after{
      content: "";
      position: absolute;
      background: url(../images/questions_border_right.png) 0 0 no-repeat;
      width: 488px;
      top: 0;
      right: 0;
      height: 200px;
    }

    .questions_wrapp{
      z-index: 999;
      position: absolute;
      top:50%;
      left: 0;
      right: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }


/*=====================> Content heat start ========================*/
  
  .objects_jobs_box{
    padding: 20px 0 80px;
    margin-bottom: 100px;
  }
    .objects_jobs_item .title3,
    .our_services_item_text .title3{
      color: #2c3035;
      font-weight: bold;
    }
      .objects_jobs_item_img{
        display: table;
        width: 100%;
      }
      .objects_jobs_item_img .d_tc{
        vertical-align: bottom;
      }
  
  .our_services{
    margin: 0 -30px 80px;
  }
    .our_services_item{
      width: 340px;
      font-size: 14px;
      margin: 0 30px 60px;
    }    
      .our_services_item_img{
        width: 80px;
        margin-top: 6px; 
        margin-right: 25px;
        text-align: center;
      }
        .our_services_item_img img{
          max-width: 77px;
          height: auto;
        }

  .how_working{
    padding: 0 86px;
    margin: 0 -31px 130px;
  }
    [class^="how_working_item"]{
      background: url(../images/how_working_bg.png) 0 0 no-repeat;
      padding: 0 20px 0 40px; 
      width: 281px;
      height: 120px;
      display: table;
      vertical-align: middle;
      margin: 0 31px;
      position: relative;
      margin-bottom: 44px;
    }    
    .how_working_item_none{
      background: none !important;
    }  
      .how_working_number{
        display: table-cell;
        vertical-align: middle;
        width: 43px;
      }
      .title1.how_working_number{
        color: #fff;
      }
      .how_working_text{
        display: table-cell;
        vertical-align: middle;
      }

      .how_working_item1:before{
        content: "";
        position: absolute;
        background: url(../images/how_working_item1_img.png) 0 0 no-repeat;
        width: 84px;
        height: 14px;
        bottom: 9px;
        left: -84px;
      }
      .how_working_item1:after,
      .how_working_item2:after,
      .how_working_item5:after{
        content: "";
        position: absolute;
        background: url(../images/how_working_item1_img2.png) 0 0 no-repeat;
        width: 63px;
        height: 14px;
        bottom: 9px;
        right: -62px;
      }
      .how_working_item3:after{
        content: "";
        position: absolute;
        background: url(../images/how_working_item1_img3.png) 0 0 no-repeat;
        width: 80px;
        height: 180px;
        top: calc(100% - 23px);
        right: -79px;
      }

      .how_working_item5:before{
        content: "";
        position: absolute;
        background: url(../images/how_working_item1_img4.png) 0 0 no-repeat;
        width: 15px;
        height: 14px;
        bottom: 9px;
        left: -15px;
      }

  .partners{
    padding: 38px 0 50px;
  }
    .partners_list{
      margin: 0 -15px 50px;
    }
    .partners_list2{
      margin: 0 -25px;
    }
      .partners_list_item,
      .partners_list_item2{
        float: left;
        display: table;
        vertical-align: middle;
        margin: 0 36px;
      }   
      .partners_list_item2{
        margin: 0 25px
      } 
        .partners_list_link{
          display: table-cell;
          vertical-align: middle;
        }

  
  .price_table{
    width: 780px;
    margin: 0 auto 45px;
    text-align: center;
  }
    .price_table_title{
      border-bottom: 2px solid #01bada;
    }    
    .price_table_title .title3{
      color: #2c3035;
    } 
    .price_star{
      color: #12bfdc;
    }
    .price_table_col1{
      width: 500px;
      text-align: left;
      padding: 0 0 5px 16px;
    }
    .price_table_col2{
      width: 165px;
      border-left: 1px solid #ccf1f8;
      border-right: 1px solid #ccf1f8;
    }
    .price_table_col3{
      width: 112px;
    }
    .price_table_content{

    }
    .price_table_content .price_table_col1,
    .price_table_content .price_table_col2,
    .price_table_content .price_table_col3{
      font-weight: 300;
      padding: 33px 0 0 0;
      font-size: 14px;
    }

  .price_bottom{
    width: 780px;
    margin: 0 auto 159px;
    padding-left: 16px;
  }
    .price_bottom_text{
      font-size: 14px;
      color: #01bada; 
    }

    /*ventilation*/

    [class^="how_working_item_2"]{
      background: url(../images/how_working_bg2.png) 0 0 no-repeat;
      position: relative;
    }
    [class^="how_working_item_2"] .title1.how_working_number,
    [class^="how_working_item_2"] .title3.how_working_text{
      color: #01bada;
    }

      .how_working_item_2_1:before{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img.png) 0 0 no-repeat;
        width: 97px;
        height: 54px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -97px;
      }
      .how_working_item_2_1:after,
      .how_working_item_2_2:after{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img2.png) 0 0 no-repeat;
        width: 71px;
        height: 54px;
        right: -67px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .how_working_item_2_3:after{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img3.png) 0 0 no-repeat;
        width: 98px;
        height: 216px;
        right: -94px;
        top: 50%;
        -webkit-transform: translateY(-12%);
        -ms-transform: translateY(-12%);
        -o-transform: translateY(-12%);
        transform: translateY(-12%);
      }
      .how_working_item_2_5:after{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img4.png) 0 0 no-repeat;
        width: 71px;
        height: 54px;
        right: -67px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .how_working_item_2_5:before{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img5.png) 0 0 no-repeat;
        width: 443px;
        height: 54px;
        left: -443px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }


      
/*=====================> Content heat end ========================*/

/*=====================> Content horeca start ========================*/

  .horeca_box{
    width: 860px;
    margin: 0 auto; 
  }
  [class^="horeca_box_item"]{
    position: relative;
    float: left;
    margin: 0 13px
  }
  .horeca_box_item1{
    width: 212px; 
    margin-top: 70px;
  }
    .horeca_box_item1 .horeca_box_item_text{
      position: absolute;
      background: url(../images/horeca_item_text_img1.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      padding: 21px 20px 5px 20px; 
      top: -37%;
      left: -8px;
      width: 170px;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
    }

  .horeca_box_item2{
    width: 358px; 
    margin-top: 120px;
  }
    .horeca_box_item2 .horeca_box_item_text{
      position: absolute;
      background: url(../images/horeca_item_text_img2.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      padding: 25px 35px 5px 35px; 
      padding: 21px 20px 5px 20px; 
      top: -37%;
      right: 0;
      width: 191px;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
    }

  .horeca_box_item3{
    width: 212px; 
  }
    .horeca_box_item3 .horeca_box_item_img{
      float: right;
    }
    .horeca_box_item3 .horeca_box_item_text{
      position: absolute;
      background: url(../images/horeca_item_text_img3.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      padding: 25px 35px 5px 35px; 
      top: -10%;
      left: -8px;
      width: 170px;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
    }    

  .product_wrapp{
    min-height: 800px;
  }
    .product_box{
      margin: 0 -14px;
      padding: 20px 0 50px; 
      position: relative; 
    }
      .product_box_item{
        float: left;
        width: 263px;
        margin: 0 14px 5px;
        position: relative;
        -webkit-transition: all 600ms ease;
        -moz-transition: all 600ms ease;
        -ms-transition: all 600ms ease;
        -o-transition: all 600ms ease;
        transition: all 600ms ease;
      }
        .product_box_item_figure{
          width: 100%;
          position: relative;
          text-align: center;
          height: 100%;
          padding: 0 12px 12px 12px;
          -webkit-transition: all 600ms ease;
          -moz-transition: all 600ms ease;
          -ms-transition: all 600ms ease;
          -o-transition: all 600ms ease;
          transition: all 600ms ease;
        }
        .product_box_item_img{
          height: 169px;
          width: 100%;
          display: table;
          margin-bottom: 20px;
        }
          .product_box_item_img .d_tc{
            vertical-align: bottom;
          }
          .product_box_item_img img{
            vertical-align: bottom;
          }
        .product_box_item_text{
          font-size: 14px;
          font-weight: 300;
        }
          .product_box_item_text .title3{
            color: #01bada;
            margin-top: 14px; 
            margin-bottom: 25px;
          }
          .product_box_item_text_link{
            background: #01bada;
            color: #fff;
            width: 197px;
            display: block;
            padding: 11px 13px 10px;
            border: 1px solid transparent;
            position: absolute;
            opacity: 0;
            bottom: 12px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-transition: all 600ms ease;
            -moz-transition: all 600ms ease;
            -ms-transition: all 600ms ease;
            -o-transition: all 600ms ease;
            transition: all 600ms ease;
          }
            .product_box_item_text_link:hover{
              border-color: #01bada;
              color: #01bada;
              background: #fff;
            }

            .product_box_item_figure:hover{
              position: absolute;
              z-index: 99;
              box-shadow: 1px 1px 5px #dcdcdc, -1px -1px 5px #dcdcdc;
              height: calc(100% + 38px);
              padding-bottom: 37px;
              background: #fff;
              -webkit-transition: all 600ms ease;
              -moz-transition: all 600ms ease;
              -ms-transition: all 600ms ease;
              -o-transition: all 600ms ease;
              transition: all 600ms ease;
            }
            .product_box_item_figure:hover .product_box_item_text_link{
              opacity: 1;
              -webkit-transition: all 600ms ease;
              -moz-transition: all 600ms ease;
              -ms-transition: all 600ms ease;
              -o-transition: all 600ms ease;
              transition: all 600ms ease;
            }
        .product_box_item.last .product_box_item_figure:hover{
          box-shadow: none;
          padding-bottom: 12px;
          position: static;
        }
        .product_box_item.last{
          position: relative;
        }
          .product_box_item.last .product_box_item_text{
            position: absolute;
            top: 50%;
            padding: 0 20px;
            text-align: center;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
            .product_see_more{
              color: #fefeff;
              text-decoration: underline; 
              font-size: 18px;
            }


/*=====================> Content horeca end ========================*/

/*=====================> Content catalog start ========================*/
  
  .catalog_block{
    border-top: 1px solid #d6dae4;    
    border-left: 1px solid #d6dae4; 
    margin-left: -1px;   
  }
    .catalog_block_item{
      display: block;
      float: left;
      width: 285px;
      border-right: 1px solid #d6dae4;
      border-bottom: 1px solid #d6dae4;
      padding-bottom: 40px;   
      color: #2c3035; 
    }

      .catalog_block_item:hover{
        box-shadow: inset 1px 1px 0 #4dcee5, inset -1px -1px 0 #4dcee5;  
      }
      
      .catalog_block_item_img{
        opacity: .3;
        text-align: center;
        width: 100%;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;  
      }
        .catalog_block_item_img .d_tc{
          vertical-align: middle;
          height: 210px
        }
      .catalog_block_item:hover .catalog_block_item_img{
        opacity: 1;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
      }

    .catalog_block_item_text{
      padding: 0 15px;
      width: 100%;
      display: inline-block;
    }  

/*=====================> Content catalog end ========================*/


  

/*=====================> Content catalog sub start ========================*/

  .catalog_site_bar{
    border: 1px solid #d6dae4;
  }

    .site_bar_padd{
      padding: 33px 21px 28px;
    }

    .range_slider_wrapper{
      font-size: 14px;
      color: #a1a5ad;
      display: table;
      width: 100%;
    }

      .counter_item{
        display: table-cell;
        vertical-align: middle;
      }
      .counter_item label{
        vertical-align: middle;
        font-weight: 300;
        margin-right: 3px;
      }
    
    .radio_site_bar{
      font-size: 12px;
      font-weight: 300;
      margin: 0 -8px;
    }
      .radio_site_bar_item{
        margin: 0 8px 8px;
        position: relative;
      }

      .radio_site_bar_label{  
        cursor: pointer;
        padding-right: 3px;
      }

      .radio_site_bar .jq-checkbox{
        background: #fff;
        border: 1px solid #1cc1de;
        border-radius: 10px;
        width: 10px;
        height: 10px;
      }  
      .radio_site_bar .jq-checkbox.checked{
        background: #01bada;
      }
      .radio_site_bar_item:hover .jq-checkbox.checked{
        background: #01bada url(../images/hover_radio_btn.png) 0 0 no-repeat;
      }

    .reset_all{
      font-size: 14px;
      font-weight: 300;
      position: relative;
      color: #34c8e1;
      display: inline-block;
      padding-right: 15px;
    }  
      .reset_all:after{
        content: " ";
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background: url(../images/reset_close.png) 0 0 no-repeat;
      }
  /*catalog content*/

  .pagination_box{
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    margin-top: 10px;
  }

  .pagination_box .jq-selectbox{
    width: 90px;
    border: none;
  }

    .pagination_box .jq-selectbox__select{
      border: none;
      padding-right: 15px;
      height: auto;
      line-height: 1.2;
    }
    .pagination_box .jq-selectbox__trigger{
      width: 11px;
    }
      .pagination_box .jq-selectbox__trigger-arrow{
        border: none;
        background: url(../images/tigerr_arrow.png) 0 0 no-repeat;
        width: 11px;
        height: 7px;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

  .pagination_list_item,
  .number_blocks_item{
    display: inline-block;
  }

  .pagination_list_item{
    margin: 0 2px;
  }

    .pagination_list_link{
      display: inline-block;
      width: 19px;
      line-height: 19px;
      color: #8a8e98;
      text-align: center;
    }

    .pagination_list_item.current .pagination_list_link{
      background: #4dcee5;
      color: #fff;
      border-radius: 10px;
    }
    .pagination_list_link:hover{
      color: #12bfdc;
    }

  .number_blocks_item{
    color: #a9acb3;
  }

    .number_blocks_link{
      color: #45cce4;
      position: relative;
      padding-right: 8px;
    }

      .number_blocks_link:after{
        content: "|";
        position: absolute;
        right: 0;
        font-weight: 600;
        color: #8a8e98;
      }
      .number_blocks_item:last-child .number_blocks_link:after{
        display: none;
      }

    .number_blocks_link.current{
      color: #8a8e98;
      font-weight: 700;
    }

/*=====================> Content catalog sub end ========================*/

/*=====================> Content article start ========================*/

  .information_fasting{
    font-size: 12px;
    color: #a9acb3; 
    font-weight: 300;
  }
    .views{
      position: relative;
      padding-left: 23px; 
      margin-right: 35px;
    }

      .views:before{
        content: "";
        width: 18px;
        height: 12px;
        background: url(../images/views_img.png) 0 0 no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

  .img_article{
    border: 1px solid #c9cddb;
    margin-bottom: 35px;
  }    

  .back_btn{
    display: inline-block;
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #01bada;
  }
    .back_btn:before{
      content: "";
      width: 17px;
      height: 12px;
      background: url(../images/arrow_back.png) 0 0 no-repeat;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

/*=====================> Content article end ========================*/


/*=====================> Content articles list start ========================*/

  .article_list_item_data{
    text-align: center;
    margin-right: 30px;
  }
    .article_list_item_data_sub{
      width: 68px;
      height: 68px;
      background: #4dcee5;
      color: #fff;
      font-family: 'Roboto Slab', serif;
      font-size: 36px;
      line-height: 68px;
    }
    .article_list_item_data_time{
      color: #45cce4;
      font-size: 14px;
    }

  .article_list_item_content .title2{
    color: #01bada; 
    line-height: 18px;
    display: inline-block;
  }  

    .time_read{
      position: relative;
      padding-left: 20px;
    }
      .time_read:before{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        background: url(../images/time_img.png) 0 0 no-repeat;
        width: 12px;
        height: 12px;
      }

    .article_list_item_content_text{
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 10px;
      color: #5e5e73;
      font-weight: 300;
    }
      .article_list_item_content_link{
        color: #45cce4;
        text-decoration: underline;
        font-size: 18px;
        line-height: 18px;
      }


/*=====================> Content articles list end ========================*/

/*=====================> Range slider ========================*/

  .range_slider_wrapper #slider-range{
    background-color: #d6dae4;
    height: 2px;

  }
    .range_slider_wrapper .ui-slider-horizontal .ui-slider-range{
      background-color: #d6dae4;    
    }
    .range_slider_wrapper #slider-range .ui-slider-handle{
      background: #01bada;
      border-radius: 50%;
      top: -4px;
      width: 10px;
      height: 10px;
    } 
    .range_slider_wrapper #amount1,
    .range_slider_wrapper #amount2{
      color: #a1a5ad;
      font-size: 14px;
      border: 0;
      width: 73px;
      height: 36px;
      line-height: 36px;
      border: 1px solid #dfdfdf;
      box-shadow: 1px 1px 2px #efefef, -1px -1px 2px #efefef;
    }
    .range_slider_wrapper #amount2{
    }  


/*==============> POPUP <=============*/
.arcticmodal-container{
  background-color: rgba(255, 255, 255, .9);
}
.arcticmodal_container_box{
  max-width: 1000px !important;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px 10px; 
  z-index: 99999;
  position: relative;
}
  .popup_title{
    font-size: 14px;
    color: #2c3035;
    font-weight: 300;
  }


.arcticmodal_container_box.popup_pad{
  padding: 3px 50px;
}

.form_popup{
  width: 294px;
}  
  .form_popup_name,
  .form_popup_email,
  .form_popup_textarea{
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    height: 38px;
    padding-left: 42px;
    border: none;
    box-shadow: 2px 2px 3px #dfdfdf, -2px -2px 3px #dfdfdf;
  }
  .form_popup_name{
    background: #fff url(../images/human_icon.png) 12px 50% no-repeat;
  }
  .form_popup_email{
    background: #fff url(../images/email_icon.png) 12px 50% no-repeat;
  }
  .form_popup_textarea{
    height: 200px;
    padding: 10px 0 0 42px;
    resize: none;
  }
  .form_popup_textarea{
    background: #fff url(../images/commnt_icon.png) 12px 12px no-repeat;
  }
  .form_popup_btn{
    display: inline-block;
    font-size: 14px;
    width: 100%;
    line-height: 34px;
    cursor: pointer;
    color: #ddf6fa;
    background: #01bada;
    border: none;
    outline: none;
    border: 1px solid transparent;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
    .form_popup_btn:hover{
      color: #01bada;
      background: #fff;
      border-color: #01bada;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
    }
  
/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb58{ margin-bottom:58px;}
.mb60{ margin-bottom:60px;}
.mb62{ margin-bottom:62px;}
.mb65{ margin-bottom:65px;}
.mb70{ margin-bottom: 70px;}
.mb75{ margin-bottom: 75px;}
.mb90{ margin-bottom: 90px;}
.mb100{ margin-bottom: 100px;}
.mb138{ margin-bottom: 138px;}
.mb150{ margin-bottom: 150px;}



/*=====================> Lists ========================*/
.list1{}
.list1 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1 a{}

.list2{}
.list2 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
[class^="title"]{
  font-family: 'Roboto Slab', serif;
}
.title{
  font-size: 46px;
  line-height: 58px;
  color: #01bada;
}
.title1{
  font-size: 36px;
  line-height: 48px;
  color: #232440;
}

.title2{
  font-size: 24px;
  line-height: 34px;
  color: #19192d;
}
.title3{
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
}
.title4{
  font-size: 14px;
  line-height: 1.2;
  color: #a9acb3;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Roboto', Helvetica, sans-serif;
}


/*================================>> GOOGLE FONTS  <<========================================*/



/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
.txt_field{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.msg_field{
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}

#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
}
.adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
footer {

}

.footer_contact{
  width: 372px;
  padding-bottom: 20px;
}
  .footer_contact_info{
    background: url(../images/footer_item_bg.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    padding: 25px 25px 0 37px;
    min-height: 178px;
  }
    .footer_contact_info_text,
    .footer_contact_info_link{
      font-size: 14px;
      line-height: 25px;
      color: #ccf1f8;
    }
      .footer_contact_info_link:hover{
        color: #fff;
        text-decoration: underline;
      }
      .title_footer{
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
      }

  .footer_copyright{
    font-size: 12px;
    color: #71717e;
    line-height: 18px;
    margin-left: 15px;
  }    
    .footer_copyright img{
      margin-right: 10px;
    }

  .footer_maps{
    position: relative;
    width: 600px;
    height: 306px;
    margin-left: 30px;
  }  

    .footer_maps_item{
      position: absolute;
      width: 186%;
      height: 306px;
      /*border: 30px solid transparent;
      border-image: url("../images/map_border.png");
      border-image-repeat: round;*/
    }

      .footer_maps_item:before{
        content: "";
        z-index: 99;
        position: absolute;
        background: url(../images/map_border_before.png) 0 0 no-repeat;
        top: 0;
        left: 0;
        width: 33px;
        height: 100%;
      }

      .footer_maps_item:after{
        content: "";
        z-index: 99;
        position: absolute;
        background: url(../images/map_border_after.png) 0 0 no-repeat;
        width: 100%;
        top: 0;
        height: 30px;
      }

/*.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
.social a:first-child{margin: 0 0 0 0;}
.social a:hover img{
  margin-top:-32px;
}*/

/*============================= Easy responsive tabs ============================*/


.resp-tabs-list li {
    
}


h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-easy-accordion  h2.resp-accordion {
        display: block;
}

.resp-tab-content-active {
    display: block;
}


@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    
    .resp-accordion-closed {
        display:none !important;
    }
    
}


/*============================ Arctic modal =============================*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 9999; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}




input::-webkit-input-placeholder{
  transition: all 0.5s ease;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  color: #9a9da6;
  opacity: 1;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
input::-moz-placeholder{
  transition: all 0.5s ease;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  color: #9a9da6;
  opacity: 1;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
input:-moz-placeholder{
  transition: all 0.5s ease;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  color: #9a9da6;
  opacity: 1;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
input:-ms-input-placeholder{
  transition: all 0.5s ease;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  color: #9a9da6;
  opacity: 1;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: all 0.5s ease;
}
input:focus::-moz-placeholder{
  opacity: 0;
  transition: all 0.5s ease;
}
input:focus:-moz-placeholder{
  opacity: 0;
  transition: all 0.5s ease;
}
input:focus:-ms-input-placeholder{
  opacity: 0;
  transition: all 0.5s ease;
}
/*===  input end    ===*/

/*===  textarea start  ===*/
textarea::-webkit-input-placeholder{
  font-family: 'Roboto', Helvetica, sans-serif;   
  transition: all 0.5s ease;
  color: #a9acb3;
  opacity: 1;
  font-size: 14px;
}
textarea::-moz-placeholder{
  font-family: 'Roboto', Helvetica, sans-serif;   
  transition: all 0.5s ease;
  color: #a9acb3;
  opacity: 1;
  font-size: 14px;
}
textarea:-moz-placeholder{
  font-family: 'Roboto', Helvetica, sans-serif;   
  transition: all 0.5s ease;
  color: #a9acb3;
  opacity: 1;
  font-size: 14px;
}
textarea:-ms-input-placeholder{
  font-family: 'Roboto', Helvetica, sans-serif;   
  transition: all 0.5s ease;
  color: #a9acb3;
  opacity: 1;
  font-size: 14px;
}

textarea:focus::-webkit-input-placeholder{
  transition: all 0.5s ease;
  opacity: 0;
}
textarea:focus::-moz-placeholder{
  transition: all 0.5s ease;
  opacity: 0;
}
textarea:focus:-moz-placeholder{
  transition: all 0.5s ease;
  opacity: 0;
}
textarea:focus:-ms-input-placeholder{
  transition: all 0.5s ease;
  opacity: 0;
}
/*===  textarea end    ===*/

@media only screen and (max-width: 1366px) {
  .footer_maps_item{
    width: 140.3%;
  }

}

@media only screen and (max-width: 1170px) {
  .footer_maps_item{
    width: 127%;
  }

}