


/*-----------------  Catalog item  --------------*/
.catalog_item{
	margin-top: 55px;
	margin-bottom: 55px;
}
	.catalog_item_figure{
		margin-bottom: 50px;
	}
		.catalog_figure_img_box{
			width: 40%;
		}
		.catalog_item_figcaption{
			width: 49%;
		}
			.catalog_item_figcaption .title2{
				margin-top: -10px;
			}
		.catalog_figure_img_box img{
			width: 100%;
			height: auto;
		}
		.characteristic_list{
			font-size: 14px;
			width: 100%;
			display: inline-block;
			margin-bottom: 20px;
		}
			.characteristic_item{
				display: inline-block;
				width: 100%;
				margin-bottom: 17px;
				position: relative;
			}
			.characteristic_item:after{
				content: "";
				position: absolute;
				left: 0;
				bottom: 3px;
				z-index: 1;
				width: 100%;
				display: inline-block;
				border-bottom: 1px dotted #64676b; /*2c3035*/
			}
				.characteristic_item span:first-child,
				.characteristic_item_value{
					display: inline-block;
					background-color: #FFF;
					color: #2c3035;
					position: relative;
					z-index: 2;
				}
				.characteristic_item span:first-child{
					font-weight: 500;
					float: left;
				}
				.characteristic_item_value{
					float: right;
					font-weight: 300;
				}
			.catalog_item_price{
				color: #01BADA;
				font-size: 46px;
				font-weight: 600;
				line-height: 58px;
				font-family: 'Roboto Slab', serif;
			}
				.catalog_item_price:after{
					content: "";
					width: 26px;
					height: 31px;
					display: inline-block;
					margin-left: 15px;
					background: url(../images/price_symbol.jpg) 50% 50% no-repeat;
				}
	.info{
		margin-bottom: 55px;
	}
		.info p{
			font-weight: 300;
			line-height: 29px;
		}
	.viewed_recently{
		padding-top: 45px;
		border-top: 1px solid #D6DAE4;
	}

/*-----------------  Gallery  --------------*/
.slider_box{
	margin-bottom: 120px;
}	
	.main_slider{
		width: 750px;
		margin: 0 auto !important;
	}
	.thumb_carousel{
		margin-bottom: 38px !important;
		height: 56px;
		padding: 0 83px;
	}
		.slider_item{
			opacity: 0.4;
			cursor: pointer;
			height: 55px;
			position: relative;
			border: 1px solid #d6dae4;
			-webkit-transition: all 0.7s ease;
		    -moz-transition: all 0.4s ease;
		    -o-transition: all 0.4s ease;
		    transition: all 0.4s ease;
		}
			.slider_item:before{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 93px;
				height: 51px;
				visibility: hidden;
				border: 2px solid #4dcee5;
			}
			.slider_item:hover,
			.slider_item.flex-active-slide{
				opacity: 1;
				border: none;
			}
				.slider_item:hover:before,
				.slider_item.flex-active-slide:before{
					visibility: visible;
				}
			.slider_item img,
			.slider_item.flex-active-slide img{
				width: 100%;
				height: 100%;
			}
			.slider_item_info{
				margin-top: 30px;
			}
			.slider_item_info p{
				font-weight: 300;
				font-size: 14px;
				line-height: 22px;
			}
		.main_slider .flex-direction-nav .flex-prev{
			background: url(../images/arrow_blue_prev.png) 50% 50% no-repeat;
			left: -163px;
		}
		.main_slider .flex-direction-nav .flex-next{
			background: url(../images/arrow_blue_next.png) 50% 50% no-repeat;
			right: -163px;
		}
		.main_slider .flex-direction-nav .flex-prev,
		.main_slider .flex-direction-nav .flex-next{
			top: -85px;
		}

.mt12{margin-top: 12px;}
.mt20{margin-top: 20px;}
.mt45{margin-top: 45px;}
sup{
	vertical-align: top;
}

.back_btn{
	letter-spacing: 1px;
}
.counter_item input{
	padding: 7px;
}